
<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Company</h4>
      </div>
      <div class="modal-body">
        <form id="cmpfrm" action="/myapp/cnew" method="post">{% csrf_token %}
    
    {% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
    </div>
{% endfor %}

    <!--<input class="btn btn-default btn-sm" type="submit" value="Submit" />-->
</form>

      </div>
      <div class="modal-footer">
          <input class="btn btn-default btn-sm" type="button" value="Submit" id="cmpbtn"/>
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
        
      </div>

<script type="text/javascript">
    
       $("#cmpbtn").click(function() {
           $("#cmpfrm").submit();
       });
    
</script>
